@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}


header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

a{
    margin-right:40px;
}

nav a:hover,
nav a.hover{
    color: aqua;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
}

section:nth-child(odd){
    background: #323946;
}

h1{
    font-size:xx-large;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    left: 5%;
    color: #fff;
}

.contimg{
    background-position:  center right;
}


.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.cont {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
}

.cont .intro {
    display: flex;
    flex-direction: column;
}
  

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50vh;
    position: absolute;
    right: 0;
  }


  .redes .linha {
    background-color: #fec86a;
    height: 15vh;
    width: 2.5px;
  }
  
  .redes i {
    color: #fbfbfb;
    font-size: 36px;
  }